body {
  background-color: #270020;
  color: #FF00D0;
  font-family: courier;
  text-align: center; }

a {
  text-decoration: none;
  color: #00d0ff; }

#info {
  margin: auto;
  margin-top: 30%;
  width: 70%;
  font-size: 1.1em;
  line-height: 120%; }

#uploadForm {
  font-size: 0.2em; }

#uploadin  {
  display: block;
  visibility: hidden;
  padding: 0;
  width: 0;
  height: 0; }

#purp {
  padding: 0;
  width: 100px;
  height: 40px;
  font-size: 6.3em;
  color: #270020;
  border: none;
  border-radius: 7px;
  background-color: #FF00D0; }
  #purp:hover, #purp:active, #purp:focus {
    outline: none; }

#status {
  display: block;
  font-size: 1.1em; 
  padding: 40px; }

footer {
  position: absolute;
  right: 0;
  bottom:0;
  left: 0;
  height: 4.6em;
  font-size: 8px; }
  #author {
    float: left;
    padding-left: 21px; }
  #github {
    float: right;
    padding-right: 21px; }


/*******************************
  Larger than mobile
 *******************************/
@media (min-width: 400px) {

  #info {
    font-size: 1.2em; }

  #status {
    padding: 60px;
    font-size: 1.2em; }

  footer {
    height: 5em;
    font-size: 8.9px; }
}


/*******************************
  Larger than phablet
 *******************************/
@media (min-width: 550px) {
  
  #info {
    margin-top: 20%;
    font-size: 1.7em; }
  
  #purp {
    width: 130px;
    height: 60px; }
  
  #status {
    padding: 60px;
    font-size: 1.7em; }

  footer {
    font-size: 0.7em; }

}

/*******************************
  Larger than tablet
 *******************************/
@media (min-width: 750px) {

  #info {
    margin-top: 10%;
    font-size: 2.3em; }

  #purp {
    width: 190px;
    height: 75px;
    font-size: 5em; }

  #status {
    padding: 90px;
    font-size: 2.3em; }

  footer {
    font-size: 0.5em; }

}


/*******************************
  Larger than desktop
 *******************************/
@media (min-width: 1000px) {

  #info {
    margin-top: 10%;
    font-size: 3em; }

  #uploadForm {
    font-size: 0.3em; }

  #purp {
    width: 200px;
    height: 80px;
    font-size: 3em; }
    #purp:hover {
      width: 240px;
      height: 100px;
      font-size: 4em; }

  #status {
    top: 15%;
    font-size: 3em; }

  footer {
    font-size: 0.5em; }

}


/*******************************
  Larger than desktop HD
 *******************************/
@media (min-width: 1200px) {

  footer {
    height: 4em;
    font-size: 0.8em; }

}